@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

$navbar-width : 250px;

html{scroll-behavior:smooth}

body{
  background-color: #202033;
  //font-family: 'Oswald', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

.navbar{
  position: sticky;
  top: 0;
  width: $navbar-width;
  height: 100vh;
  background-color: #232333;
  display: inline-flex;
  align-items: center;
  .container{
    text-align: center;
    .foto-container{
      margin-bottom: 40px;
      img{
        width: 80%;
        border-radius: 50%;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        margin: 15px 0px;
        a{
          text-decoration: none;
          font-size: 20px;
          color: #9393f53f;
        }
        .selected{
          color: #a5a5ff;
        }
      }
    }
    button{
      display: none;
    }
  }
}
.initial{
  margin-top: -100vh;
}
.page{
  height: 100vh;
  margin-left: $navbar-width;
  display: flex;
  //justify-content: center;
  align-items: center;
  div{
    margin-left: 50px;
    h1{
      margin-top: 0;
      font-size: 70px; 
      color: #a5a5ff;
    }
    h2{
      color: #e2b900;
    }
    h4{
      color: #7d35c0;
      a{
        color: #990000;
        text-decoration: underline;
      }
    }

    .download{
      background-color: #990000;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 15px 12px;
      margin: 20px 0 40px 0;
      border-radius: 10px;
      display: inline-block;
      text-decoration: none;
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-flex;
        border-radius: 50%;
        background-color: #a5a5ff;
        width: 50px;
        height: 50px;
        margin-right: 35px;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        img{
          width: 50%;
          filter:brightness(1000%);
        }
      }
    }
  }
}
#about{
  div{
    width: 80%;
    h1{
      font-size: 50px;
    }
    h2{
      color: #a5a5ff;
    }
    p{
      color: #7d35c0;
    }
    a{
      color: #e2b900;
    }
  }
}

#skills{
  .skill-badge{
    margin: 5px 5px 5px 0;
    width: fit-content;
  }
}

#projects{
  .projects-container{
    width: 90%;
  }
  .featured-container{
    margin: 0;
    display: flex;
    overflow-x: scroll;
    width: 95%;
    padding-bottom: 8px;
    &::-webkit-scrollbar{
      height: 8px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: white;
      border-radius: 5px;
    }

  }

}

#education{
  div{
    .item{
      margin: 30px 0;
      h1{
        font-size: 30px;
        margin: 0;
      }
      h2{
        font-size: 20px;
        margin: 5px 0 0;
      }
      h4{
        margin: 5px 0 0;
        color: white;
      }
      p{
        color: #7d35c0;
      }
    }
  }
}

#contact{
  h4{
    display: inline-block;
  }
  a{
    color: #e2b900;
    margin-left: 10px;
  }
  h2{
    margin-top: 60px;
  }
  .skill-badge{
    margin: 5px 5px 5px 0;
    width: fit-content;
  }
}

@media (max-width : 600px){
  .navbar{
    position: sticky;
    display: block;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      .foto-container{
        position: absolute;
        left: 15px;
        margin: 0;
        width: 40px;
        height: 40px;
        img{
          width: 100%;
        }
      }
      ul{
        li{
          .hide{
            display: none;
          }
          a{
            font-size: 20px;
          }
        }
      }
      button{
        display: block;
        position: absolute;
        width: 50px;
        background-color: #00000000;
        border: none;
        right: 10px;
        img{
          width: 100%;
        }
      }
    }
  }
  .page{
    margin: 0;
    justify-content: center;
    text-align: center;
    div{
      margin: 0;
      h1{
        font-size: 70px;
      }
      h2{
        font-size: 20px;
        margin: 0 20px
      }
      ul{
        li{
          margin: 0 20px;
        }
      }
    }
  }
  #projects{
    .projects-container{
      margin: 0 !important;
      width: auto;
      text-align: center;
      h1{
        font-size: 50px;
      }
      .featured-container{
        width: 287px;
        margin-top: 30px;
      }
    }
  }
  #contact{
    div{
      h1{
        font-size: 50px;
      }
    }
  }
}