@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

$navbar-width : 250px;

html{scroll-behavior:smooth}

body{
  background-color: #202033;
  //font-family: 'Oswald', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

.navbar{
  position: sticky;
  top: 0;
  width: $navbar-width;
  height: 100vh;
  background-color: #232333;
  display: inline-flex;
  align-items: center;
  .container{
    text-align: center;
    .foto-container{
      margin-bottom: 40px;
      img{
        width: 80%;
        border-radius: 50%;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      li{
        margin: 15px 0px;
        a{
          text-decoration: none;
          font-size: 20px;
          color: #9393f53f;
        }
        .selected{
          color: #a5a5ff;
        }
      }
    }
  }
}
.initial{
  margin-top: -100vh;
}
.page{
  height: 100vh;
  margin-left: $navbar-width;
  display: flex;
  justify-content: center;
  align-items: center;
}